- var imports = require('./imports');

doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=Edge')
    meta(name='renderer' content='webkit')
    meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
    meta(name='keywords' content='微博, 微博自动签到, 微博管理, SNH48, BEJ48, GNZ48, SHY48, CKG48')
    meta(name='description' content='微博自动签到、微博管理网站。')
    meta(name='apple-mobile-web-app-capable' content='yes')
    meta(name='apple-touch-fullscreen' content='yes')
    link(rel='apple-touch-icon-precomposed' href=require('./precomposed.jpg'))
    link(rel='apple-touch-icon' href=require('./precomposed.jpg'))
    link(rel='shortcut icon' href=require('./favicon.ico'))
    title {% title %}
    //- webp
    script(type='text/javascript').
      var isSupportedWebP = isSupportedWebP || false;
      (function(){
        var canvas = document.createElement('canvas');
        var image = canvas.toDataURL('image/webp');
        isSupportedWebP = image.indexOf('data:image/webp') >= 0;
        canvas = null;
      })();
  body
    div.app#app {% render %}
    script= 'window.__INITIAL_STATE__ = {% initialState %};'
    script(type='text/javascript' src=require('./weibo-pattlock'))
    if htmlWebpackPlugin.options.mode === 'development'
      script(type='text/javascript' src=imports.dll)