- var imports = require('./imports');

doctype html
html
  head
    base(href='/')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=Edge')
    meta(name='renderer' content='webkit')
    meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
    meta(name='keywords' content='微博, 微博自动签到, 微博管理, SNH48, BEJ48, GNZ48, SHY48, CKG48')
    meta(name='description' content='微博自动签到、微博管理网站。')
    meta(name='apple-mobile-web-app-capable' content='yes')
    meta(name='apple-touch-fullscreen' content='yes')
    link(rel='apple-touch-icon-precomposed' href=require('./precomposed.jpg'))
    link(rel='apple-touch-icon' href=require('./precomposed.jpg'))
    link(rel='shortcut icon' href=require('./favicon.ico'))
    title <%= title %>
    include ./scripts.pug
  body
    div.app#app <%= render %>
    script
      | window.__INITIAL_STATE__ = <%= initialState %>;
    script(src=require('./gt.min'))
    if htmlWebpackPlugin.options.mode === 'development'
      script(src=imports.dll)